body {
  background-color: #fffbf7;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
li{
    display:inline;
}
.img {
    height: 100%;
}
.navbar {
  text-align: center;
  color: #025157;
  background-color: #fffbf7;
  font-weight: 500;
}  
.actions{
        text-align: right;
        font-size: 14px;
        font-weight: 600;
      }
      
.actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }
.actions button{ 
  color:white;
  background-color:#67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}
main {
    margin-top: 285px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color:#fffbf7;
    text-align: center;
}
main > *{
    padding: 0px;
    box-sizing: border-box; 
    vertical-align: middle;   
}
.signup-form{
  height: 50px;
}
.signup-form input,
.signup-form button {
  height: 100%;
  border-radius: 8px;
}

.encabezado {
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;      
}
h4{
  color: #46484c;
  font-family: "Slabo 27px", serif;
  font-size: 20px;
  margin-bottom: 30px;   
} 
button{
    color:#fff;
    background-color:#025157;
} 
.banner {
    margin-top: 32px;
  }
  
  figure.intro > img {
    width: 70%;
  }
.nav-item{
    margin-right: 10px;
} 
.promo{
  display: flex;
  max-width: 70%;
  margin: 100px auto;
  align-items: center;
  
} 
.publish{
    flex: 1;
}
.publish h3{
    font-family: 'Alegreya', serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}
.publish > p{
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}
.publish > form {
    display: flex;
  }
  
.publish > form p {
    color: #025157;
    margin-top: 18px;
    
  }

.demostracion {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.demostracion img{
    width: 120px;
    margin-top: 10px;
}

.start-trial-form {
  height: 50px;
}

.start-trial-form input,
.start-trial-form button {
  height: 100%;
  border-radius: 8px;
  
}
.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 330px);
    background-color: #025157;
    padding: 5% 10%;
  }
.feature-card{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex:2;
}

.features .feature-card .feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.features .feature-card .feature-content img {
  width: 50px;
}

.features .feature-card .feature-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature-card .feature-content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature-card .feature-content a {
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-card .feature-image {
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}
figure
{
  margin: 0 0 1rem;
}
.success-stories {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.success-stories .overview{
  flex: 2;
  padding-right: 100px;
}
.success-stories .overview h2{
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}
.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.success-stories .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}

.success-stories .stories-carousel {
  flex: 1;
}
.success-stories .stories-carousel {
  flex: 1;
}

.success-stories .stories-carousel .carousel-indicators {
  position: unset;
}

.success-stories .stories-carousel .card {
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.success-stories .stories-carousel .card .card-media img {
  width: 100%;
  max-height: 16vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.success-stories .stories-carousel .card .card-media figure {
  margin-top: 0;
}

.success-stories .stories-carousel .card .card-media {
  position: relative;
}

.success-stories .stories-carousel .card .card-media .company {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-stories .stories-carousel .card .card-media .company img {
  max-width: 75%;
}

.success-stories .stories-carousel .card .card-body,
.success-stories .stories-carousel .card .card-footer {
  padding: 25px;
}

.success-stories .stories-carousel .card .card-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.success-stories .stories-carousel .card .card-body h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.success-stories .stories-carousel .card .card-body .results {
  display: flex;
  align-items: center;
  color: #828282;
}

.success-stories .stories-carousel .card .card-body .results img {
  width: 26px;
  margin-right: 20px;
}

.success-stories .stories-carousel .card .card-body .results p {
  margin-top: 0;
}

.success-stories .stories-carousel .card .card-footer {
  margin-bottom: 20px;
  background-color: unset;
  border-top: unset;
}

.success-stories .stories-carousel .card .card-footer button {
  display: block;
  margin-left: 0;
  border-radius: 5px;
  font-size: 13;
  font-weight: 600;
  padding: 12px 20px;
  width: 100%;
}



@media (max-width: 575px) {
  main {
    margin-top: 130px;
  }

  .encabezado{
    font-size: 30px;
  }
  .banner > img {
    width: 100%;
  }
  .promo {
    flex-direction: column;
    max-width: 90%;
  }
  .explanatory-video {
    width: 100%;
  }
  .publish {
    margin-top: 10px;
}
  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }
  .publish > form {
    flex-direction: column;
  }

  .publish > form > div {
    height: 50px;
    margin-top: 10px;
  }

  .publish > form > div > input {
    width: 65%;
  }
  .features {
    grid-template: repeat(4, 1fr) / 1fr;
    padding-left: 0;
    padding-right: 0;
  }
  .feature-image{
    display: none;
  }
  .navbar-light .nav-item .nav-link {
    color: #025157;
  }
  
  .navbar-light .navbar-toggler {
    border-color: #025157;
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .success-stories {
    flex-direction: column;
    padding: 5% 15px;
}
}